<h1>Búscando: <small><b>{{termino}}</b></small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resulatdos para el término: {{termino}}
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes;">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h4 class="card-title">{{ heroe.nombre }}</h4>
      <p class="card-text"> {{ heroe.bio }} </p>
      <p class="card-text"><small class="text-muted"> {{ heroe.aparicion }}</small></p>
      
      <!--Dos formas de dirigirnos a otra pagina !-->
     <!--a traves de programacion !-->
      <button (click)="verHeroe(heroe.codigo)" type="button" class="btn btn-outline-primary btn-block">Ver más botón...</button>
      
      <!--A traves de routerlink !-->
      <a [routerLink]="['/heroe',heroe.codigo]" class="btn btn-outline-primary btn-block">Ver más link...</a>
    </div>
  </div>
</div>